<link rel="stylesheet" href="./assets/css/css/responsiveslides.css">
		<link rel="stylesheet" href="./assets/css/css/style.css">
        
        <div class="header">
            <div class="wrap">
            <!--start-logo-->
            <div class="logo">
              <a href="index.html" style="font-size: 30px;">Course Registration System</a>
            </div>
            <!--end-logo-->
            <!--start-top-nav-->
            
            <div class="clear"> </div>
            <!--end-top-nav-->
          </div>
          <!--end-header-->
        </div>
        <div class="clear"> </div>
          <!--start-image-slider---->
              <div class="image-slider">
                <!-- Slideshow 1 -->
                <ul class="rslides" id="slider1">
                  <li><img src="./assets/images/slider-image1.jpg" alt=""></li>
                  
                </ul>
                 <!-- Slideshow 2 -->
              </div>
              <!--End-image-slider---->
          <div class="clear"> </div>
          <div class="content-grids">
            <div class="wrap">
            <div class="section group">
                    
                  
            <div class="listview_1_of_3 images_1_of_3">
              <div class="listimg listimg_1_of_2">
                  <img src="./assets/images/grid-img1.png">
              </div>
              <div class="text list_1_of_2">
                  <h3>Registration</h3>
                  <p>Student & Admin Registration</p>
                 
                     <div class="button"><span><a [routerLink]="['/registeradmin']" href="#" (click) = 'changestate()'>Admin Registration</a></span></div>
                  <div class="button"><span><a [routerLink]="['/register']" href="#" (click) = 'changestate()'> Student Registration</a></span></div>
              </div>
            </div>	
    
            <div class="listview_1_of_3 images_1_of_3">
              <div class="listimg listimg_1_of_2">
                  <img src="./assets/images/grid-img2.png">
              </div>
              <div class="text list_1_of_2">
                  <h3>Student Login</h3>
                
                  <div class="button"><span><a href="#" [routerLink]="['/login']" (click) = 'changestate()'>Click Here</a></span></div>
                  
              </div>
            </div>
    
    
              <div class="listview_1_of_3 images_1_of_3">
              <div class="listimg listimg_1_of_2">
                  <img src="./assets/images/grid-img3.png">
              </div>
              <div class="text list_1_of_2">
                  <h3>Admin Login</h3>
                
                  <div class="button"><span><a href="#" [routerLink]="['/admin']" (click) = 'changestate()'>Click Here</a></span></div>
               </div>
            </div>			
          </div>
          </div>
           </div>
           <div class="wrap">
           <div class="content-box">
           <div class="section group">
            <div class="col_1_of_3 span_1_of_3 frist">
            
            </div>
            <div class="col_1_of_3 span_1_of_3 second">
              
            </div>
            <div class="col_1_of_3 span_1_of_3 frist">
              
              
            </div>
          </div>
           </div>
           </div>
           <div class="clear"> </div>
           <div class="footer">
            <div class="wrap">
             
           
             <div class="clear"> </div>
           </div>
           </div>
        <!--end-wrap-->