<div id="app">		
    <div class="sidebar app-aside" id="sidebar">
            <div class="sidebar-container perfect-scrollbar">
                <nav>
                
                <!-- start: MAIN NAVIGATION MENU -->
                <div class="navbar-title">
                  <span>Main Navigation</span>
                  
                </div>
                <ul class="main-navigation-menu">
                    <li>
                        <a href="User_Dashboard.php">
                            <div class="item-content">
                                <div class="item-media">
                                  <i class="ti-home"></i>
                                </div>
                                <div class="item-inner">
                                  <span class="title"> Dashboard </span>
                                </div>
                              </div>
                            </a>
                          </li>
                          <li>
                              <a href="javascript:void(0)">
                                <div class="item-content">
                                  <div class="item-media">
                                    <i class="ti-user"></i>
                                  </div>
                                  <div class="item-inner">
                                    <span class="title"> Course Registration </span><i class="icon-arrow"></i>
                                  </div>
                                </div>
                              </a>
                              <ul class="sub-menu">
                      
                                  <li>
                                    <a href="user_sentsms.php">
                                      <span class="title"> Register Courses</span>
                                    </a>
                                  </li>
                                 
                                </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <div class="item-content">
                                          <div class="item-media">
                                            <i class="ti-user"></i>
                                          </div>
                                          <div class="item-inner">
                                            <span class="title"> Profile </span><i class="icon-arrow"></i>
                                          </div>
                                        </div>
                                      </a>
                                      <ul class="sub-menu">
                      
                                          <li>
                                            <a href="profile.php">
                                              <span class="title"> View Profile </span>
                                            </a>
                                          </li>
                                  
                                          
                                        </ul>
                                        </li>	
                                        
      <li>
          <a href="javascript:void(0)">
            <div class="item-content">
              <div class="item-media">
                <i class="ti-user"></i>
              </div>
              <div class="item-inner">
                <span class="title"> Settings </span><i class="icon-arrow"></i>
              </div>
            </div>
          </a>
          <ul class="sub-menu">
            
            <li>
              <a href="changepassword.php">
                <span class="title"> Change Password </span>
              </a>
            </li>
            <li>
              <a href="logout.php">
                <span class="title"> Logout </span>
              </a>
            </li>
            
          </ul>
          </li>	
        </ul>
        </nav>
        </div>
        </div>
        <div class="app-content">
            <header class="navbar navbar-default navbar-static-top">
                <div class="navbar-header">
                    <a href="#" class="sidebar-mobile-toggler pull-left hidden-md hidden-lg" class="btn btn-navbar sidebar-toggle" data-toggle-class="app-slide-off" data-toggle-target="#app" data-toggle-click-outside="#sidebar">
                      <i class="ti-align-justify"></i>
                    </a>
                    <a class="navbar-brand" href="#">
                      <h2 style="padding-top:2% ">Student portal</h2>
                    </a>
                    <a href="#" class="sidebar-toggler pull-right visible-md visible-lg" data-toggle-class="app-sidebar-closed" data-toggle-target="#app">
                      <i class="ti-align-justify"></i>
                    </a>
                    <a class="pull-right menu-toggler visible-xs-block" id="menu-toggler" data-toggle="collapse" href=".navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <i class="ti-view-grid"></i>
                    </a>
                  </div>
                  <div class="navbar-collapse collapse">
                      <ul class="nav navbar-right">
                        <!-- start: MESSAGES DROPDOWN -->
                          <li  style="padding-top:2% ">
                          <h2>Student Name goes in here </h2>
                        </li>
                        <li class="dropdown current-user">
                            <a href class="dropdown-toggle" data-toggle="dropdown">
                              <img src="assets/images/avatar-1.jpg" alt="Peter"> <span class="username">
                                  <i class="ti-angle-down"></i></span>
                                  </a>
                                  <ul class="dropdown-menu dropdown-dark">
                      
                    
                                      <li>
                                        <a href="changepassword.php">
                                          Change Password
                                        </a>
                                      </li>
                                      <li>
                                        <a href="logout.php">
                                          Log Out
                                        </a>
                                      </li>
                                    </ul>
                                    </li>
                                    </ul>
                                    <div class="close-handle visible-xs-block menu-toggler" data-toggle="collapse" href=".navbar-collapse">
                                        <div class="arrow-left"></div>
                                        <div class="arrow-right"></div>
                                      </div>
                                      </div>
                                      
                                      <div class="main-content" >
                                          <div class="wrap-content container" id="container">
                                              <section id="page-title">
                                                  <div class="row">
                                                    <div class="col-sm-8">
                                                      <h1 class="mainTitle">Oyebade | Dashboard</h1>
                                                                      </div>
                                                    <ol class="breadcrumb">
                                                      <li>
                                                        <span>Firstname of user</span>
                                                      </li>
                                                      <li class="active">
                                                        <span>Dashboard</span>
                                                      </li>
                                                    </ol>
                                                  </div>
                                                </section>
                                                <div class="container-fluid container-fullw bg-white">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="panel panel-white no-radius text-center">
                                                              <div class="panel-body">
                                                                <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i> </span>
                                                                <h2 class="StepTitle">Course Registration</h2>
                                                                
                                                                <p class="links cl-effect-1">
                                                                  <a href="user_sentsms.php">
                                                                                        Register Courses		
                                                                  </a>
                                                                </p>
                                                              </div>
                                                            </div>
                                                          </div>                       