<div *ngIf = "admin" id="app">		
    <div class="sidebar app-aside" id="sidebar">
            <div class="sidebar-container perfect-scrollbar">
                <nav>
                
                <!-- start: MAIN NAVIGATION MENU -->
                <div class="navbar-title">
                  <span>Main Navigation</span>
                  
                </div>
                <ul class="main-navigation-menu">
                    <li>
                        <a [routerLink]="['/management']">
                            <div class="item-content">
                                <div class="item-media">
                                  <i class="ti-home"></i>
                                </div>
                                <div class="item-inner">

                                  <span class="title"> Dashboard </span>
                                </div>
                              </div>
                            </a>
                          </li>
                          <li>
                              <a [routerLink]="['/approvecourses']">
                                  <div class="item-content">
                                      <div class="item-media">
                                        <i class="ti-home"></i>
                                      </div>
                                      <div class="item-inner">
                                        <span class="title"> Approve Course Registration </span>
                                      </div>
                                    </div>
                                  </a>
                                </li>
                                <li>
                                    <a [routerLink]="['/addcourses']">
                                        <div class="item-content">
                                            <div class="item-media">
                                              <i class="ti-home"></i>
                                            </div>
                                            <div class="item-inner">
                                              <span class="title"> Add Courses </span>
                                            </div>
                                          </div>
                                        </a>
                                      </li>
                                        
                                      
        </ul>
        </nav>
        </div>
        </div>
        <div class="app-content">
            <header class="navbar navbar-default navbar-static-top">
                <div class="navbar-header">
                    <a href="#" class="sidebar-mobile-toggler pull-left hidden-md hidden-lg" class="btn btn-navbar sidebar-toggle" data-toggle-class="app-slide-off" data-toggle-target="#app" data-toggle-click-outside="#sidebar">
                      <i class="ti-align-justify"></i>
                    </a>
                    <a class="navbar-brand" href="#">
                      <h2 style="padding-top:2% ">Admin portal</h2>
                    </a>
                    <a href="#" class="sidebar-toggler pull-right visible-md visible-lg" data-toggle-class="app-sidebar-closed" data-toggle-target="#app">
                      <i class="ti-align-justify"></i>
                    </a>
                    <a class="pull-right menu-toggler visible-xs-block" id="menu-toggler" data-toggle="collapse" href=".navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <i class="ti-view-grid"></i>
                    </a>
                  </div>
                  <div class="navbar-collapse collapse">
                      <ul class="nav navbar-right">
                        <!-- start: MESSAGES DROPDOWN -->
                          <li  style="padding-top:2% ">
                          <h2>{{admin.firstname}},{{admin.secondname}}</h2>
                        </li>
                        <li class="dropdown current-user">
                            <a href class="dropdown-toggle" data-toggle="dropdown">
                              <img src="assets/images/avatar-1.jpg" alt="Peter"> <span class="username">
                                  <i class="ti-angle-down"></i></span>
                                  </a>
                                  <ul class="dropdown-menu dropdown-dark">
                      
                    
                                      
                                      <li>
                                        <a href="#" (click) = 'logout()'>
                                          Log Out
                                        </a>
                                      </li>
                                    </ul>
                                    </li>
                                    </ul>
                                    <div class="close-handle visible-xs-block menu-toggler" data-toggle="collapse" href=".navbar-collapse">
                                        <div class="arrow-left"></div>
                                        <div class="arrow-right"></div>
                                      </div>
                                      </div>
                                    </header>
                                    <div class="main-content" >
                                        <div class="wrap-content container" id="container">
                                            <section id="page-title">
                                                <div class="row">
                                                  <div class="col-sm-8">
                                                    <h1 class="mainTitle">{{admin.secondname}}| Dashboard</h1>
                                                                    </div>
                                                  <ol class="breadcrumb">
                                                    <li>
                                                      <span>{{admin.firstname}}</span>
                                                    </li>
                                                    <li class="active">
                                                      <span>Dashboard</span>
                                                    </li>
                                                  </ol>
                                                </div>
                                              </section>
                                              <div class="container-fluid container-fullw bg-white">
                                                  <div class="row">
                                                    <div class="col-md-12">
                                                      
                                                      <div class="row margin-top-30">
                                                        <div class="col-lg-8 col-md-12">
                                                          <div class="panel panel-white">
                                                            <div class="panel-heading">
                                                                <flash-messages></flash-messages>
                                                              <h5 class="panel-title">Add Courses</h5>
                                                            </div>
                                                            <div class="panel-body">
                                                                <div class="box-login">
                                                                    <form role="form">
                                                                        <div class="form-group">
                                                                    
                                                                        
                                                                        <label for="doctorname">
                                                                            Enter course code
                                                                         </label>
                                                                         <input type="text" class="mainTitle" [(ngModel)]="coursecode"  name = "coursecode" class="form-control"  placeholder="Enter coursecode">
                                                                         </div>
                                                                         <div class="form-group">
                                                                    
                                                                        
                                                                            <label for="doctorname">
                                                                                Enter course Title
                                                                             </label>
                                                                             <input type="text"  class="form-control"   [(ngModel)]="coursetitle"  name = "coursetitle" placeholder="Enter Course Title">
                                                                             </div>
                                                                             <div class="form-group">
                                                                    
                                                                        
                                                                                <label for="doctorname">
                                                                                    Enter course Unit
                                                                                 </label>
                                                                                 <input type="number"  class="form-control"  [(ngModel)]="courseunit"  name = "courseunit" placeholder="Enter Course Unit">
                                                                                 </div>
                                                                                 
                                                                                     <div class="form-group">

                                                                                    <div class="form-actions">
            
                                                                                        <button type="submit"  class="btn btn-primary pull-right" name="login" (click)="addcourses()">
                                                                                          Submit <i class="fa fa-arrow-circle-right"></i>
                                                                                        </button>
                                                                                      </div>
                                                                                      <table class="table table-hover" id="sample-table-1" >
                                                                                          <thead>
                                                                                            <tr>
                                                                                              
                                                                                               
                                                                                              <th>Course Code</th>
                                                                                              <th>Course Title</th>
                                                                                              <th>Course Unit</th>
                                                                                              
                                                                                              <th>Delete Course</th>
                                                                                              
                                                                                              
                                                                                              
                                                                                            </tr >
                                                                                            <tr *ngFor = "let course of courses">
                                                                                               
                                                                                              <td>{{course.coursecode}}</td>
                                                                                              <td>{{course.coursetitle}}</td>
                                                                                              <td>{{course.courseunit}}</td>
                                                                                             
                                                                                              <td><button type="submit"  class="btn btn-o btn-primary" (click)="deletecourses(course._id)" >Delete</button>
                                                                                              </td>					
                                                                                            </tr>
                                                                                            
                                                                                          </thead>
                                                                    
                                                                        
                                                                                   
                                                                                     
                                                                                    
                                                                                     
														
                                                                         