<div *ngIf = "admin" id="app">		
    <div class="sidebar app-aside" id="sidebar">
            <div class="sidebar-container perfect-scrollbar">
                <nav>
                
                <!-- start: MAIN NAVIGATION MENU -->
                <div class="navbar-title">
                  <span>Main Navigation</span>
                  
                </div>
                <ul class="main-navigation-menu">
                    <li>
                        <a [routerLink]="['/management']">
                            <div class="item-content">
                                <div class="item-media">
                                  <i class="ti-home"></i>
                                </div>
                                <div class="item-inner">
                                  <span class="title"> Dashboard </span>
                                </div>
                              </div>
                            </a>
                          </li>
                          <li>
                              <a [routerLink]="['/approvecourses']">
                                  <div class="item-content">
                                      <div class="item-media">
                                        <i class="ti-home"></i>
                                      </div>
                                      <div class="item-inner">
                                        <span class="title"> Approve Course Registration </span>
                                      </div>
                                    </div>
                                  </a>
                                </li>
                                <li>
                                    <a [routerLink]="['/addcourses']">
                                        <div class="item-content">
                                            <div class="item-media">
                                              <i class="ti-home"></i>
                                            </div>
                                            <div class="item-inner">
                                              <span class="title"> Add Courses </span>
                                            </div>
                                          </div>
                                        </a>
                                      </li>
                                        
                                      
        </ul>
        </nav>
        </div>
        </div>
        <div class="app-content">
            <header class="navbar navbar-default navbar-static-top">
                <div class="navbar-header">
                    <a href="#" class="sidebar-mobile-toggler pull-left hidden-md hidden-lg" class="btn btn-navbar sidebar-toggle" data-toggle-class="app-slide-off" data-toggle-target="#app" data-toggle-click-outside="#sidebar">
                      <i class="ti-align-justify"></i>
                    </a>
                    <a class="navbar-brand" href="#">
                      <h2 style="padding-top:2% ">Admin portal</h2>
                    </a>
                    <a href="#" class="sidebar-toggler pull-right visible-md visible-lg" data-toggle-class="app-sidebar-closed" data-toggle-target="#app">
                      <i class="ti-align-justify"></i>
                    </a>
                    <a class="pull-right menu-toggler visible-xs-block" id="menu-toggler" data-toggle="collapse" href=".navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <i class="ti-view-grid"></i>
                    </a>
                  </div>
                  <div class="navbar-collapse collapse">
                      <ul class="nav navbar-right">
                        <!-- start: MESSAGES DROPDOWN -->
                          <li  style="padding-top:2% ">
                          <h2> {{admin.firstname}},{{admin.secondname}} </h2>
                        </li>
                        <li class="dropdown current-user">
                            <a href class="dropdown-toggle" data-toggle="dropdown">
                              <img src="assets/images/avatar-1.jpg" alt="Peter"> <span class="username">
                                  <i class="ti-angle-down"></i></span>
                                  </a>
                                  <ul class="dropdown-menu dropdown-dark">
                      
                    
                                     
                                      <li>
                                        <a href="#" (click)="logout()">
                                          Log Out
                                        </a>
                                      </li>
                                    </ul>
                                    </li>
                                    </ul>
                                    <div class="close-handle visible-xs-block menu-toggler" data-toggle="collapse" href=".navbar-collapse">
                                        <div class="arrow-left"></div>
                                        <div class="arrow-right"></div>
                                      </div>
                                      </div>
                                    </header>
                                    <div class="main-content" >
                                        <div class="wrap-content container" id="container">
                                            <section id="page-title">
                                                <div class="row">
                                                  <div class="col-sm-8">
                                                    <h1 class="mainTitle">{{admin.secondname}} | Dashboard</h1>
                                                                    </div>
                                                  <ol class="breadcrumb">
                                                    <li>
                                                      <span>{{admin.firstname}}</span>
                                                    </li>
                                                    <li class="active">
                                                      <span>Dashboard</span>
                                                    </li>
                                                  </ol>
                                                </div>
                                              </section>
                                              <div class="row">
                                                  <div class="col-sm-4">
                                                      <div class="panel panel-white no-radius text-center">
                                                        <div class="panel-body">
                                                          <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i> </span>
                                                          <h2 class="StepTitle">Course Registration</h2>
                                                          
                                                          <p class="links cl-effect-1">
                                                            <a [routerLink]="['/approvecourses']">
                                                                                  Approve Course Registration		
                                                            </a>
                                                          </p>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="panel panel-white no-radius text-center">
                                                          <div class="panel-body">
                                                            <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-users fa-stack-1x fa-inverse"></i> </span>
                                                            <h2 class="StepTitle">Dashboard</h2>
                                                          
                                                            <p class="cl-effect-1">
                                                              <a [routerLink]='["/management"]'>
                                                                                    Admin Dashboard	
                                                              </a>
                                                              
                                                            </p>
                                                          </div>
                                                        </div>
                                                      </div>
                                                      <div class="col-sm-4">
                                                          <div class="panel panel-white no-radius text-center">
                                                            <div class="panel-body">
                                                              <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
                                                              <h2 class="StepTitle"> Add Courses</h2>
                                                              
                                                              <p class="links cl-effect-1">
                                                                
                                                                  <a [routerLink]="['/addcourses']">
                                                                                      Add Courses	
                                                                
                                                                </a>
                                                              </p>
                                                            </div>
                                                          </div>
                                                        </div>
                                                        </div>
                                                        </div>
                                                        <footer>
                                                            <div class="footer-inner">
                                                              <div class="pull-left">
                                                                &copy; <span class="current-year"></span><span class="text-bold text-uppercase"> SteveInc</span>. <span>All rights reserved</span>
                                                              </div>
                                                              <div class="pull-right">
                                                                <span class="go-top"><i class="ti-angle-up"></i></span>
                                                              </div>
                                                            </div>
                                                          </footer>
                                                          <div class="settings panel panel-default hidden-xs hidden-sm" id="settings">
                                                              <button ct-toggle="toggle" data-toggle-class="active" data-toggle-target="#settings" class="btn btn-default">
                                                                <i class="fa fa-spin fa-gear"></i>
                                                              </button>
                                                              <div class="panel-heading">
                                                                Style Selector
                                                              </div>
                                                              <div class="panel-body">
                                                                <!-- start: FIXED HEADER -->
                                                                <div class="setting-box clearfix">
                                                                  <span class="setting-title pull-left"> Fixed header</span>
                                                                  <span class="setting-switch pull-right">
                                                                    <input type="checkbox" class="js-switch" id="fixed-header" />
                                                                  </span>
                                                                </div>
                                                                <!-- end: FIXED HEADER -->
                                                                <!-- start: FIXED SIDEBAR -->
                                                                <div class="setting-box clearfix">
                                                                  <span class="setting-title pull-left">Fixed sidebar</span>
                                                                  <span class="setting-switch pull-right">
                                                                    <input type="checkbox" class="js-switch" id="fixed-sidebar" />
                                                                  </span>
                                                                </div>
                                                                <!-- end: FIXED SIDEBAR -->
                                                                <!-- start: CLOSED SIDEBAR -->
                                                                <div class="setting-box clearfix">
                                                                  <span class="setting-title pull-left">Closed sidebar</span>
                                                                  <span class="setting-switch pull-right">
                                                                    <input type="checkbox" class="js-switch" id="closed-sidebar" />
                                                                  </span>
                                                                </div>
                                                                <!-- end: CLOSED SIDEBAR -->
                                                                <!-- start: FIXED FOOTER -->
                                                                <div class="setting-box clearfix">
                                                                  <span class="setting-title pull-left">Fixed footer</span>
                                                                  <span class="setting-switch pull-right">
                                                                    <input type="checkbox" class="js-switch" id="fixed-footer" />
                                                                  </span>
                                                                </div>
                                                                <!-- end: FIXED FOOTER -->
                                                                <!-- start: THEME SWITCHER -->
                                                                <div class="colors-row setting-box">
                                                                  <div class="color-theme theme-1">
                                                                    <div class="color-layout">
                                                                      <label>
                                                                        <input type="radio" name="setting-theme" value="theme-1">
                                                                        <span class="ti-check"></span>
                                                                        <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"></span> </span>
                                                                        <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span>
                                                                      </label>
                                                                    </div>
                                                                  </div>
                                                                  <div class="color-theme theme-2">
                                                                    <div class="color-layout">
                                                                      <label>
                                                                        <input type="radio" name="setting-theme" value="theme-2">
                                                                        <span class="ti-check"></span>
                                                                        <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"></span> </span>
                                                                        <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span>
                                                                      </label>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                                <div class="colors-row setting-box">
                                                                  <div class="color-theme theme-3">
                                                                    <div class="color-layout">
                                                                      <label>
                                                                        <input type="radio" name="setting-theme" value="theme-3">
                                                                        <span class="ti-check"></span>
                                                                        <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"></span> </span>
                                                                        <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span>
                                                                      </label>
                                                                    </div>
                                                                  </div>
                                                                  <div class="color-theme theme-4">
                                                                    <div class="color-layout">
                                                                      <label>
                                                                        <input type="radio" name="setting-theme" value="theme-4">
                                                                        <span class="ti-check"></span>
                                                                        <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"></span> </span>
                                                                        <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span>
                                                                      </label>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                                <div class="colors-row setting-box">
                                                                  <div class="color-theme theme-5">
                                                                    <div class="color-layout">
                                                                      <label>
                                                                        <input type="radio" name="setting-theme" value="theme-5">
                                                                        <span class="ti-check"></span>
                                                                        <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"></span> </span>
                                                                        <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span>
                                                                      </label>
                                                                    </div>
                                                                  </div>
                                                                  <div class="color-theme theme-6">
                                                                    <div class="color-layout">
                                                                      <label>
                                                                        <input type="radio" name="setting-theme" value="theme-6">
                                                                        <span class="ti-check"></span>
                                                                        <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"></span> </span>
                                                                        <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span>
                                                                      </label>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                                <!-- end: THEME SWITCHER -->
                                                              </div>
                                                            </div>			
                                                            </div>
                                                            